# JetBrains directories
.idea
.DS_Store
/node_modules
/build
/react3b/node_modules/
/react4/node_modules/
/react5/node_modules/.cache/.eslintcache
/react5/node_modules/.cache/default-development/0.pack
/react5/node_modules/.cache/babel-loader/0c64c896d5160bd013b9a94d4c6cdc85.json
/react5/node_modules/.cache/default-development/1.pack
/react5/node_modules/.cache/babel-loader/01d6a8b459e4d9c9d7bb17d1a5eb97bc.json
/react5/node_modules/.cache/babel-loader/01f6e6036a915cfbbd30700ef19b5f8b.json
/react5/node_modules/.cache/default-development/2.pack
/react5/node_modules/.cache/default-development/3.pack
/react5/node_modules/.cache/babel-loader/3a001674e98c70eeb0b5ab34ec6e46f9.json
/react5/node_modules/.cache/babel-loader/3d4ea5c6b37cf2a058703c5643ac6429.json
/react5/node_modules/.cache/babel-loader/3f343083fb7019d9a8ba8c18193c5dbb.json
/react5/node_modules/.cache/babel-loader/3ffd299106c57402b254654aa3e59126.json
/react5/node_modules/.cache/default-development/4.pack
/react5/node_modules/.cache/babel-loader/4bc383837ec607eaf9dc0578b826b3fc.json
/react5/node_modules/.cache/babel-loader/4d798f6bf34eb3a8b5ad75a57137d502.json
/react5/node_modules/.cache/default-development/5.pack
/react5/node_modules/.cache/babel-loader/5a7f9d40feba9a5ab0bb64da3a4b8ab5.json
/react5/node_modules/.cache/babel-loader/5e3d0a778e432ab9b53dd0d5ba23cbef.json
/react5/node_modules/.cache/babel-loader/5f0621f5387ae544e25e6d16e9f17263.json
/react5/node_modules/.cache/default-development/6.pack
/react5/node_modules/.cache/babel-loader/6b60c387bc59ed4fb9e429ced55df388.json
/react5/node_modules/.cache/babel-loader/6c24b85433325e1c7572734f133c99e0.json
/react5/node_modules/.cache/babel-loader/6d539c848002a1a8c772ce808938d2a0.json
/react5/node_modules/.cache/babel-loader/6dadb650df2176bfc9cd9430e73e50aa.json
/react5/node_modules/.cache/default-development/7.pack
/react5/node_modules/.cache/babel-loader/7bbf148943c771b03073eb94f75726fd.json
/react5/node_modules/.cache/babel-loader/7cb59a46bc437772fe72dcf00b1306ae.json
/react5/node_modules/.cache/babel-loader/7d4487845c4c504b1b3ea81b213619f6.json
/react5/node_modules/.cache/default-development/8.pack
/react5/node_modules/.cache/babel-loader/8bd4166413d4ef71e7301fb1ac733ee4.json
/react5/node_modules/.cache/babel-loader/8bdb73e35e965baab33a94d06481f406.json
/react5/node_modules/.cache/babel-loader/8c5f529fbb08a18ce7bf38a45001e37d.json
/react5/node_modules/.cache/babel-loader/8d5a4a297c9a5c25c43891ff0b5ed905.json
/react5/node_modules/.cache/babel-loader/8ee5d40beecb74a49cd40c46c589e251.json
/react5/node_modules/.cache/default-development/9.pack
/react5/node_modules/.cache/babel-loader/9fc9346f1985af61919461a64ac5da8a.json
/react5/node_modules/.cache/default-development/10.pack
/react5/node_modules/.cache/default-development/11.pack
/react5/node_modules/.cache/default-development/12.pack
/react5/node_modules/.cache/babel-loader/12e40116570983276fcf1880b7112739.json
/react5/node_modules/.cache/default-development/13.pack
/react5/node_modules/.cache/babel-loader/17a281ce0257cfd957ebfe01d259f8aa.json
/react5/node_modules/.cache/babel-loader/22cf272a0db82f3cb8314545ffaf6756.json
/react5/node_modules/.cache/babel-loader/29ec60ff8e946242f345aa6025082e34.json
/react5/node_modules/.cache/babel-loader/35b79714ea6a3d03af10d531fcdc779b.json
/react5/node_modules/.cache/babel-loader/38fcc60f809a5fdff6d07211bd9920ef.json
/react5/node_modules/.cache/babel-loader/43a5498d45dd1f2ce5b629e8ec34823d.json
/react5/node_modules/.cache/babel-loader/45d2611e76adcaae35c7c30ee2d2c500.json
/react5/node_modules/.cache/babel-loader/48a59ec668b03d5ee839b36886ef2dee.json
/react5/node_modules/.cache/babel-loader/60c746c4cced9f8f53ea06f9d95e6af8.json
/react5/node_modules/.cache/babel-loader/060d80dcf2f01a997f6211163afc6177.json
/react5/node_modules/.cache/babel-loader/72ce639a09e8a02339d457ac6a55c742.json
/react5/node_modules/.cache/babel-loader/77cd6ea35b40ff2d568b471d064cb1c1.json
/react5/node_modules/.cache/babel-loader/77e432ee092506211bcb1b43b0803e95.json
/react5/node_modules/.cache/babel-loader/83a853c164ddce20c71e67fc26b262ca.json
/react5/node_modules/.cache/babel-loader/086e4bae1ea841127ce55d1f480f0534.json
/react5/node_modules/.cache/babel-loader/91f637e55da5796988690974048a99ad.json
/react5/node_modules/.cache/babel-loader/097d40c5d4ee5df97f20d960bf2f855c.json
/react5/node_modules/.cache/babel-loader/98c6a3c4a5d26993438a659746cd07d4.json
/react5/node_modules/.cache/babel-loader/272bd1e86c2e2b77328bc2ef74d201a7.json
/react5/node_modules/.cache/babel-loader/0361d10fb67babeda4701b2c88702690.json
/react5/node_modules/.cache/babel-loader/547a234f0c4507de807109ba286bbbd2.json
/react5/node_modules/.cache/babel-loader/569d2f4a3f117945d92c94c1ee3dd2ac.json
/react5/node_modules/.cache/babel-loader/796c7ad77bd11ab65b801e1edac9832d.json
/react5/node_modules/.cache/babel-loader/948c30c9a7e5a376040af437e191a80e.json
/react5/node_modules/.cache/babel-loader/4256b6c068b28294666726e245a47acb.json
/react5/node_modules/.cache/babel-loader/4394ad30142b41a977de33e17a02c7e3.json
/react5/node_modules/.cache/babel-loader/07014cceea1d95fad3969cae8eac818c.json
/react5/node_modules/.cache/babel-loader/7974eec425c43fd202bea42928de9d10.json
/react5/node_modules/.cache/babel-loader/8079eeb8f37887579425c78e0189e339.json
/react5/node_modules/.cache/babel-loader/8096e6b0692fbc26f82d43d0cf214f1c.json
/react5/node_modules/.cache/babel-loader/8157a28a397ac8c29640caff04e95c4a.json
/react5/node_modules/.cache/babel-loader/71822d45ec95ee99d0075150906367aa.json
/react5/node_modules/.cache/babel-loader/84746e09f386783158a42f382be2f55a.json
/react5/node_modules/.cache/babel-loader/589960b6b2b8b813ffcb78ee969ac607.json
/react5/node_modules/.cache/babel-loader/85816111106c7318cccef58f58a66e29.json
/react5/node_modules/.cache/babel-loader/2863859596063fb5c91d31fdd5adc87a.json
/react5/node_modules/.cache/babel-loader/3809932658199c0c681c6fbfa0294229.json
/react5/node_modules/.cache/babel-loader/a2c6193e25661dddd9813508277d4675.json
/react5/node_modules/.cache/babel-loader/a402ba708f63f20b77b5970d9985014c.json
/react5/node_modules/.cache/babel-loader/a511b2d161b485f4fa00ac954b3bc691.json
/react5/node_modules/.cache/babel-loader/a72928865a86dd300e354311e3b854a9.json
/react5/node_modules/.cache/babel-loader/a168907462aeab511a1c7e51ebae9ff2.json
/react5/node_modules/.cache/babel-loader/aa5fc0926e10fba300c3170a7fd1de11.json
/react5/node_modules/.cache/babel-loader/ad2f34bfbed0249184fdfd1876767f24.json
/react5/node_modules/.cache/babel-loader/ad3eb626b7803ffc536768ac59748d2f.json
/react5/node_modules/.cache/babel-loader/b9d70624d69d57febd19522edf34f73c.json
/react5/node_modules/.cache/babel-loader/b23ed0d05589085f9f4c36c0186084a3.json
/react5/node_modules/.cache/babel-loader/b77bfe7750d6514066bf5506977c6267.json
/react5/node_modules/.cache/babel-loader/b04497cdcc08090f45c24f3b71883366.json
/react5/node_modules/.cache/babel-loader/b33855a6205c592f42d458e52416d51a.json
/react5/node_modules/.cache/babel-loader/bc0da93c51a56fd12d6af0a26a9bd7d7.json
/react5/node_modules/.cache/babel-loader/bcd3f5457e8d3fa48d0244693f232871.json
/react5/node_modules/.cache/babel-loader/bda19d2546bebe24f22928d9ff01af21.json
/react5/node_modules/.cache/babel-loader/be3208db626b9e569ddb9eb763cad9a6.json
/react5/node_modules/.cache/babel-loader/bee0c8724c142a9cda09b7d411f28ee8.json
/react5/node_modules/.cache/babel-loader/c1b9b18719ef62b2b227e86ffa3c49d9.json
/react5/node_modules/.cache/babel-loader/c6f20168b3c5a5c9e71ed293153e3cf7.json
/react5/node_modules/.cache/babel-loader/c8be0fbe2abcb8431355ac9aaf8c6891.json
/react5/node_modules/.cache/babel-loader/c37fd27c0f395b3702bab3f52e6bda55.json
/react5/node_modules/.cache/babel-loader/c4482bb5da7162b8452befebdc1f2958.json
/react5/node_modules/.cache/babel-loader/c567864ea03588622d10800f2d58f4ac.json
/react5/node_modules/.cache/babel-loader/d1a6b3bb83e2d8b409a6b007d52a8b7a.json
/react5/node_modules/.cache/babel-loader/d5a75dcb5b4a70087cceae8c321616b0.json
/react5/node_modules/.cache/babel-loader/d8ef12dcb16f670e46b77da42992b618.json
/react5/node_modules/.cache/babel-loader/d11cb277874391f49567d7c43946c72a.json
/react5/node_modules/.cache/babel-loader/d912e9d9e6534fb7be6dad97fd7f9b74.json
/react5/node_modules/.cache/babel-loader/db09bc0c1c7f651a25f0255136869c82.json
/react5/node_modules/.cache/babel-loader/de80a45dd10761a66cfad71103a41020.json
/react5/node_modules/.cache/babel-loader/e34de62e267917d8567c7686672491cb.json
/react5/node_modules/.cache/babel-loader/eba659883b914f3b3e629edb6dfb2daa.json
/react5/node_modules/.cache/babel-loader/ef7d677581301fdf8c0dd134a3a7957a.json
/react5/node_modules/.cache/babel-loader/ef872b9c46fc6ef718de081d2918e3fd.json
/react5/node_modules/.cache/babel-loader/fc529855d50070327b882689a6372da6.json
/react5/node_modules/.cache/babel-loader/fd89a4f98ca291c215938f6842f5cecc.json
/react5/node_modules/.cache/default-development/index.pack
/react5/node_modules/.cache/default-development/index.pack.old
/react5/node_modules/.cache/babel-loader/24fe8b27d20d768025e7c835be4eea70.json
/react5/node_modules/.cache/babel-loader/0d7c0f85f4da94e83c9805ca1a55f2bc.json
/react5/node_modules/.cache/babel-loader/1b498930f10f3ce12fe7544d995e4a4f.json
/react5/node_modules/.cache/babel-loader/9c36155b08f130fb66c3280a2a5bffb1.json
/react5/node_modules/.cache/babel-loader/bbd2f5d6e16f3adb72c1c0f95524e091.json
/react5/node_modules/.cache/babel-loader/d89af12aab28588ab95a4cd5d77467c7.json
/react5/node_modules/.cache/babel-loader/e218b473947070595de13108807a4107.json
